<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - ElectroCo <b>By 19993 - Miguel Tomé & 21997 - Óscar Campos</b>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/tabletools/2.2.0/js/dataTables.tableTools.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>