@if (User.Identity.IsAuthenticated)
{
    <div class="client-menu">
        @if (User.IsInRole("gestorArmazem"))
        {
            <ul class="nav nav-tabs">
                <li class="nav-item text-light"><a class="nav-link" asp-action="Index" asp-controller="Produtos">Inventário</a></li>
                <li class="nav-item text-light"><a class="nav-link" asp-action="Index" asp-controller="Encomendas">Encomendas</a></li>
            </ul>
        }
        else
        {
            <ul class="nav nav-tabs">
                <li class="nav-item text-light"><a class="nav-link" asp-action="Index" asp-controller="Produtos">Produtos</a></li>
                <li class="nav-item text-light"><a class="nav-link" asp-action="Index" asp-controller="Funcionários">Funcionários</a></li>
                <li class="nav-item text-light"><a class="nav-link" asp-action="Index" asp-controller="Encomendas">Encomendas</a></li>
            </ul>
        }


    </div>
}