@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var nome = "";
    if (SignInManager.IsSignedIn(User)) {
        var splitName = User.Claims.Where(cl => cl.Type.Equals("Nome", StringComparison.OrdinalIgnoreCase)).FirstOrDefault().Value.Split(' ');
        
        nome = (splitName.Length == 1) ? "" : String.Concat(splitName[0],' ',splitName[splitName.Length-1]);
    }
}
<ul class="horizontal">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item pull-right logged-dropdown">
            <a class="nav-link text-light">Olá @nome</a>
            <div class="logged-dropdown-content">
                <a class="nav-link text-light" asp-action="Details" asp-controller="Clientes" asp-route-id="@UserManager.GetUserId(User)">Perfil</a>
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/ChangePassword">Mudar Password</a>
                <a class="nav-link text-light" asp-action="Index" asp-controller="Encomendas">Encomendas</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Sair</button>
                </form>
            </div>
            
        </li>
    }
    else
    {
        <li class="nav-item pull-right">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user-o text-light"></i>Entrar</a>
        </li>
    }
    @if (!User.Identity.IsAuthenticated || User.IsInRole("cliente"))
    {
    <li class="nav-item pull-right">
        <a class="nav-link text-light" href="@Url.Action("Index", "ShoppingCarts")"><i class="fa fa-shopping-cart text-light"></i>Carrinho</a>
    </li>
    }
</ul>
