<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="partials/_head" />
    @RenderSection("css", required: false)
</head>
<body>
    <header>
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row pull-left">
                    <div class="header-logo">
                        @*<a href="@Url.Action("","/")" class="logo">*@
                        <a asp-action="Index" asp-controller="Home" class="logo">
                            <h1 class="text-light">ElectroCo.</h1>
                        </a>
                    </div>

                    <!-- row -->

                </div>
                <partial name="partials/_LoginPartial" />
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="partials/_footer" />
    @RenderSection("Scripts", required: false)
</body>
</html>
